fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiomysql
pymysql
redis
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
pydantic-settings
python-dotenv
pytest
pytest-asyncio
httpx
bcrypt
weasyprint
jinja2
aiosmtplib
typing-extensions
email-validator